html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-image: url('../images/app_background.jpg'); */
    background-color: var(--main-background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow:hidden;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the video stays in the background */
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}



#home-page-title {
    position: fixed;
    --start-top: 50%;
    --start-left: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:75px;
    color: white;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    white-space: nowrap;
}





.home-title-display {
    animation: fade-in 1s linear forwards; 
}




.home-title-hide {
    animation: fade-out 1s linear forwards; 
}
