
.frosted-glass {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}


.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1s ease-in-out;
}




.hide {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}




.input-bar {
    padding: 5px 15px 5px 10px;
    background: rgba(0,0,0,0.7);
    border-style: none;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    color: var(--font-color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;    
}


.input-bar:hover {
    box-shadow: 10px 0px 20px rgba(255, 255, 255, 1);
}


.glowing-horizontal-line {
    height: 1px;
    background-color: white;
    box-shadow: 0 2px 5px rgb(5, 5, 5);
}


.toggle-button {
    padding: 5px 15px 5px 10px;
    height: 30px;
    width: 100px;
    margin-left: 20px;
    background: rgba(0,0,0,0.7);
    border-style: solid;
    border-color: rgba(0,0,0,0);
    box-sizing: border-box;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    color: var(--font-color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;  
}

.toggle-button:hover {
    background-color: var(--hover-color);
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
}

.toggle-button:active {
    background-color: var(--active-color);
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
}

.toggle-button-active {
    background-color: var(--active-color);
}
