
#download-container {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.5);
}



#download-bar-input {
    width: 500px;
}



#download-bar-button {
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,0);
    border-radius: 30px;
    border-style: none;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    color: var(--font-color);
}

#download-bar-button:hover {
    box-shadow: 10px 0 20px rgba(255, 255, 255, 1);
}

#download-bar-button:active {
    box-shadow: 10px 0 20px rgba(255, 255, 255, 1);
}


#download-bar-active-button {
    box-shadow: 10px 0 20px rgba(255, 255, 255, 1);
}

.message {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    /* color: var(--font-color); */
    color: white;
    font-size: 1.2em;
}