#main-element {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#main-sub-element {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#main-sub-element-2 {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header-element {
    display: block;
    height: 10vh;
    width: 100vw;
    margin: 0;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    box-sizing: border-box;
}

#left-sidebar-element {
    width: 18vw;
    min-width: 150px;
    max-width: 250px;
    height: 96%;
    margin: 1vw 0.5vw 1vw 1vw;
    background-color: var(--main-backgroud-color);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--background-transition);
}

#left-sidebar-element:hover {
    background-color: rgba(0,0,0,0.5);
}

#main-sub-element-2 {
    width: 58vw;
    display: flex;
    height: 96%;
    margin: 1vw 0.5vw 1vw 0.5vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



#track-list-element {
    /* height: 75vh; */
    width: 58vw;
    display: flex;
    height: 66vh;
    margin: 0vw 1vw 0.5vw 1vw;
    border-style: none;
    box-sizing: border-box;
    padding: 15px 0px 15px 0px;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    transition: var(--background-transition);
}

#track-list-element:hover {
    background-color: rgba(0,0,0,0.5);
}

#track-list-sub-element {
    width: 58vw;
}



#track-list {
    width: 58vw;
}

#track-list-footer-element {
    width: 58vw;
    height: 10vh;
    display: flex;
    margin: 0.5vw 1vw 0vw 1vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: var(--background-transition);
}

#track-list-footer-element:hover {
    background-color: rgba(0,0,0,0.5);
}

#right-sidebar-element {
    width: 20vw;
    height: 96%;
    margin: 1vw 1vw 0vw 0.5vw;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#right-sidebar-element:hover {
    background-color: rgba(0,0,0,0.5);
}

#footer-element {
    height: 15vh;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-sub-element {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


#download-bar-element {
    height: 10vh;
    margin-top: 4vh;
}


#tag-filter-save-as-playlist-button:hover {
    background: #ffffff;
    color: #000000;
}

#tag-filter-save-as-playlist-button:active {
    background-color: var(--active-color);
    color: #000000;
}

#tag-filter-save-as-playlist-button {
    padding: 5px 15px 5px 10px;
    background: #27262b;
    border-style: solid;
    border-color: var(--border-color);
    border-width: var(--border-width);
    box-sizing: border-box;
    border-radius: 0px 15px 15px 0px;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    color: var(--font-color);
}


#search-filter-bytitle-button {
    padding: 5px 10px 5px 10px;
    background: #27262b;
    border-style: solid;
    border-color: var(--border-color);
    border-width: var(--border-width);
    box-sizing: border-box;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    color: var(--font-color);
}

#search-filter-bytitle-button:hover {
    background: #ffffff;
    color: #000000;
}

#search-filter-byartist-button {
    padding: 5px 15px 5px 10px;
    background: #27262b;
    border-style: solid;
    border-color: var(--border-color);
    border-width: var(--border-width);
    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    color: var(--font-color);
}

#search-filter-byartist-button:hover {
    background: #ffffff;
    color: #000000;
}


#tag-bar-element {
    height: 40px;
    width: 20vw;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#add-tag-input {
    padding: 5px 15px 5px 10px;
    width: 12vw;
    background: #27262b;
    border-style: solid;
    border-color: var(--border-color);
    border-width: var(--border-width);
    box-sizing: border-box;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    color: var(--font-color);
}

#add-tag-input:hover {
    border-color: #ffffff;
}


#tag-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tag-list-title {
    margin-top: 20px;
}

#tag-bar-element {
    margin-bottom: 100px;
}











































/* 
#tracklist-container {
    flex: 1;
    height: 50vh;
    width: 100%;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    box-sizing: border-box;
} */

#tracklist-container-title {
    font-size: 30px;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

#tracklist::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

#tracklist::-webkit-scrollbar-track {
    background: #27272728; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

#tracklist::-webkit-scrollbar-thumb {
    background: var(--color-gradient-1);
    border-radius: 10px; /* Rounded corners for the thumb */
}

#tracklist::-webkit-scrollbar-thumb:hover {
    background: var(--color-gradient-1);
}

#download-track-container {

    justify-content: flex-start;
    background: var(--container-background-color);
    height: 100px;
}

#download-container-content-container {
    display: flex;
    height: 40px;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

#download-track-title {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    padding: 0px 2px 0px 0px;
    justify-content: center;
}

#download-input-box {
    justify-content: center;
    width: 30vw;
    height:40px;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 0px 0px 10px;
    color: var(--font-color);
    background-color: var(--dark-charcoal-background);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    box-sizing: border-box;
}

#download-input-box:active {
    justify-content: center;
    width: 30vw;
    height:40px;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 0px 0px 10px;
    color: var(--font-color);
    background-color: var(--dark-charcoal-background);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
}

#download-button {
    background-color: var(--dark-charcoal-background);
    color: var(--font-color);
    height: 40px;
    padding: 5px 20px 5px 20px;
    border-radius: 15px 0px 0px 15px;
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
}

#download-button:hover {
    background-color: var(--dark-charcoal-background);
    height: 40px;
    padding: 5px 20px 5px 20px;
    border-radius: 15px 0px 0px 15px;
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
    color: rgb(255, 255, 255);
    text-shadow: 
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 15px #ff00ff,
    0 0 20px #ff00ff,
    0 0 25px #ff00ff,
    0 0 30px #ff00ff,
    0 0 35px #ff00ff;
}

#download-button:active {
    background-color: var(--dark-charcoal-background);
    height: 40px;
    padding: 5px 20px 5px 20px;
    border-radius: 15px 0px 0px 15px;
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
    color: rgb(255, 255, 255);
    text-shadow: 
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 15px #ffffff,
    0 0 20px #ffffff,
    0 0 25px #ffffff,
    0 0 30px #ffffff,
    0 0 35px #ffffff;
}

#download-progress {
    padding: 10px 0px 0px 0px;
    text-align: center;
    color: var(--font-color);
}

#sidebar-container {
    height: 100%;
    padding: 25px;
    box-sizing:border-box;
}

#page-container {
    display:flex;
    justify-content: center;
}

#pages-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}






































/* //////////// */









