#body-content-container {
    height: 100%;
    margin: 0;
}

.home-font-size {
    font-size: clamp(50px, 8vw, 120px);
}

.enter-app-font-size {
    font-size: clamp(30px, 6vw, 80px);
}

#enter-button-div {
    display:flex;
    justify-content: center;
}

#navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 10px;
}

.navigation-button {
    display: inline;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: clamp(20px, 4vw, 40px);
    color: white;
    border-width:1px;
    padding-left:20px;
    padding-right:20px;
    border-color:rgba(255, 255, 255, 0);
    border-style:solid;
    transition: background-color 0.5s;
}

.navigation-button:hover {
    display: inline;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-size: clamp(20px, 4vw, 40px);
    border-width:1px;
    padding-left:20px;
    padding-right:20px;
    border-color:rgba(255, 255, 255, 1);
    border-style:solid;
}


.horizontal-line {
    width: 100vw;
    height: 1px;
    margin-top: 5%;
    background-color:rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 5px rgb(0, 0, 0);
}

.genos-100 {
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
  }
  
  .genos-200 {
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
  }
  
  .genos-400 {
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  