#sh-button-container {
    width: 0;
    height: 0;
    display: inline;
}

.sh {
    height: 46px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    border-style: solid;
    border-color: white;
    border-width: 0px 5px 0px 0px;
    border-radius: 30px;
}

.sh:hover {
    background-color: var(--hover-color);
    box-shadow: 10px 0 20px 5px rgba(255, 255, 255, 0.5);
}

.sh:active {
    background-color: var(--active-color);
    box-shadow: 10px 0 20px 5px rgba(255, 255, 255, 1);
}


.sh-active {
    height: 46px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--active-color);
    border-style: solid;
    border-color: white;
    border-width: 0px 5px 0px 0px;
    border-radius: 30px;
    box-shadow: 10px 0 20px 5px rgba(255, 255, 255, 1);
}


.sh-active:hover {
    background-color: var(--active-color);
    box-shadow: 10px 0 20px 5px rgba(255, 255, 255, 1);
}


#show-hide-button {
    position: fixed;
    top: 8%;
    left: 2%;
}

#sh-download-button {
    left: 4%;
    position: fixed;
    top: 66%;
    transform: translate(-50%, -50%);
}

#sh-tag-button {
    left: 4%;
    position: fixed;
    top: 75%;
    transform: translate(-50%, -50%);
}

#sh-search-button {
    left: 4%;
    position: fixed;
    top: 84%;
    transform: translate(-50%, -50%);
}

#sh-tags-list-button {
    left: 4%;
    position: fixed;
    top: 93%;
    transform: translate(-50%, -50%);
}

