#taglist-container {
    border-style: none;
}


#taglist-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
    margin-bottom: 10px;
}


#taglist-create-tag-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#taglist {
    border-style: none;
}


#create-tag-input {
    width: 200px;
}


.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background: var(--color-gradient-1);
    backdrop-filter: blur(5px);
}


.delete-tag-button {
    background-color: rgba(0,0,0,0);
    border-style: none;
}


.tag-name {
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    font-size: 1em;
    color: white; 
}

#save-tag-input {
    width: 200px;
    margin-right: 10px;
    margin-left: 5px;
}