#tags-list-container {
    position: fixed;
    right: 0;
    top: 7%;
    margin-right: 20px;
    width: 200px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,0);
}

#tags-list {
    overflow-y: auto;
    white-space: wrap;
}

#tags-list::-webkit-scrollbar {
    width: 12px;               /* Width of the scrollbar */
    height: 12px;              /* Height of the scrollbar (horizontal) */
}

#tags-list::-webkit-scrollbar-track {
    background: var(--background-color);       /* Background of the scrollbar track */
    border-radius: 10px;
}

#tags-list::-webkit-scrollbar-thumb {
    background: var(--color-gradient-2);          /* Color of the scrollbar thumb */
    border-radius: 10px;       /* Roundness of the scrollbar thumb */
}

#tags-list::-webkit-scrollbar-thumb:hover {
    background: var(--color-gradient-2);          /* Color of the scrollbar thumb */
}

