#tracklist {
    /* flex: 1; */
    height: 400px;
    width: 900px;
    margin: 25px 0px 25px 0;
    border-radius: 10px;
    border-style: none;
    overflow-y: auto;
    padding: 10px 0px 25px 0px;
    overflow: visible;
}



#tracklist-container {
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 900px;
    border-style: none;
    box-sizing: border-box;
    overflow: visible;
    /* border-radius: 30px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5); */
}



#tracklist-title {
    position: relative;
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    height: 60px;
    padding-top: 20px;
}





.tracklist-display {
    animation: slide-down-in 1s var(--cubic-bezier-slide-in), fade-in 1s linear; 
    animation-fill-mode: forwards;
}




.tracklist-hide {
    animation: slide-up-out 1s var(--cubic-bezier-slide-out), fade-out 1s linear; 
    animation-fill-mode: forwards;
}



.title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}


.track-info-container {
    display:flex;
    flex-direction: row;
}

.track {
    color: #ffffff;
    /* display: flex;
    align-items: center; */
    /* justify-content: space-between; */
    padding: 5px 20px 5px 20px;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    font-size: 0.8em;
    border-radius: 15px;
}



.track-open-taglist {
    color: #ffffff;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 5px 20px 5px 20px;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    font-size: 0.8em;
    /* background-color: var(--nav-background-color); */
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}




.track-play-button {
    position: absolute;
    left: 20px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border-style: none;
    border-radius: 15px;
}


.track-now-playing {
    background: var(--color-gradient-1);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}



.track-title {
    position: relative;
    left: 50px;
    width: 600px;
} 



.track-duration {
    position: absolute;
    right: 120px;
}



.track-tag-button {
    position: absolute;
    right: 70px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border-style: none;
}



.delete-button-container {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50px;
}


.track-button {
    height: 20px;
    width: 20px;
    background-color: rgba(0,0,0,0);
    border-style: none;
}


.save-tag-button {
    margin: 20px 20px 0px 20px;

}


.modal {
    display: inline-flex; 
    justify-content:center;
    align-items:center;
    position: fixed; 
    z-index: 1; 
    left: 50px;
    top: -20px;
    width: 300px; 
    height: 50px; 
    border-radius: 25px;
    overflow: auto; 
    background: linear-gradient(142deg, rgba(4,19,113,1) 0%, rgba(251,4,54,1) 70%, rgba(255,253,102,1) 100%);
}


#tag-name-input {
    margin-right: 10px;
}