#tracklist {
    height: 400px;
    width: 900px;
    overflow: auto;
}



#tracklist-container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 900px;
    overflow: hidden;
}



#tracklist::-webkit-scrollbar {
    width: 12px;               /* Width of the scrollbar */
    height: 12px;              /* Height of the scrollbar (horizontal) */
}

#tracklist::-webkit-scrollbar-track {
    background: var(--background-color);       /* Background of the scrollbar track */
    border-radius: 10px;
}

#tracklist::-webkit-scrollbar-thumb {
    background: var(--color-gradient-2);          /* Color of the scrollbar thumb */
    border-radius: 10px;       /* Roundness of the scrollbar thumb */
}

#tracklist::-webkit-scrollbar-thumb:hover {
    background: var(--color-gradient-2);          /* Color of the scrollbar thumb */
}



#tracklist-title {
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    height: 60px;
}




.title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}


.track-info-container {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.track {
    color: #ffffff;
    padding: 5px 20px 5px 0px;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    font-size: 0.8em;
    border-radius: 15px;
    margin: 20px 0px 20px 10px;
}



.track-open-taglist {
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}




.track-play-button {
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.track-now-playing {
    background: var(--color-gradient-1);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}



.track-title {
    width: 680px;
} 



.track-duration {
    padding-right: 20px;
}



.track-tag-button {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.delete-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60px;
}


.track-button {
    background-color: rgba(0,0,0,0);
    border-style: none;
}


.save-tag-button {
    margin: 20px 20px 0px 20px;

}


.modal {
    display: inline-flex; 
    justify-content:center;
    align-items:center;
    position: fixed; 
    z-index: 1; 
    left: 50px;
    top: -20px;
    width: 300px; 
    height: 50px; 
    border-radius: 25px;
    overflow: auto; 
    background: linear-gradient(142deg, rgba(4,19,113,1) 0%, rgba(251,4,54,1) 70%, rgba(255,253,102,1) 100%);
}


#tag-name-input {
    margin-right: 10px;
}